@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:wght@400;600&family=Source+Serif+Pro&display=swap');

@font-face {
    font-family: 'JetBrains Mono';
    src: local("/assets/fonts/JetBrainsMono-Regular.woff") format('woff');
}

:root {
  --background-color: white;
  --font-color: black;
  --headings-color: black;
  --less-vibrant-font-color: #454545;
  --first-heading-decoration: #594019;
  --link-color: #1C519B;
  --navbar-border-color: #eee5e9;
  --menu-link-border: #9e6d39;
  --post-link-decoration: #FEDF72;
  --selection-color: #FEDF72;
  --font-selection-color: black;
  --post-meta-color: #454545;
  --post-link-focus-color: #47FF9D;
  --page-link-focus-color: #47FF9D;
  --post-link-selection: #98BBEC;
  --outline-color: #201f1e;
  --code-selection-color: #EEE5E9;
}

[data-theme="dark"] {
  --background-color: #2c2c2c;
  --font-color: #dddddd;
  --headings-color: white;
  --less-vibrant-font-color: #eee5e9;
  --first-heading-decoration: #fec601;
  --link-color: #92dce5;
  --navbar-border-color: #dddddd;
  --menu-link-border: #fec601;
  --post-link-decoration: white;
  --post-link-color: black;
  --selection-color: white;
  --font-selection-color: black;
  --post-meta-color: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

h1::selection, h2::selection, a::selection, p::selection, li::selection, span::selection, p *::selection {
  background-color: var(--selection-color);
  color: var(--font-selection-color);
}

.page-content {
  padding-top: 120px;
  width: 90%;
  max-width: 1220px;
  min-width: 340px;
  margin: auto;
  padding-bottom: 30px;
}

header .wrapper {
  display: flex;
  justify-content: center;
}

.site-nav {
  border-bottom: solid 2px var(--navbar-border-color);
  width: 91.5%;
  max-width: 1280px;
  min-width: 340px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  background-color: var(--background-color);
  z-index: 2;
}

.site-nav > p {
  font-size: 1.2em;
}

.menu-links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin-right: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.page-link, .page-link:visited {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  text-decoration: none;
  color: var(--less-vibrant-font-color);
}

.page-link:focus{
  background-color: var(--page-link-focus-color);
  color: black;
}

.page-link.active, .page-link.active:hover {
  color: var(--headings-color);
  border-bottom: 3px solid var(--menu-link-border);
}

.page-link.active:focus {
    border-color: var(--page-link-focus-color);
}

.logo {
  margin-left: 15px;
}

.mush {
  height: 80px;
  width: auto;
  position: relative;
}

.mush.left, .mush.right {
  top: 5px;
}

.mush.middle {
  bottom: 5px;
}

.post-list {
  list-style: none;
}

.post-link, .post-link:visited {
  font-size: 23.99px; /* ta bugando o em :( */
  text-decoration: underline;
  color: var(--post-link-color);
  background-color: var(--post-link-decoration);
}

.post-link::selection {
  background-color: var(--post-link-selection);
}

.post-link:focus {
  background-color: var(--post-link-focus-color);
  color: black;
}

h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: var(--headings-color);
}

h1 {
  font-size: 4.209em;
  padding-bottom: 30px;
}

h1::after {
  content: "";
  display: block;
  border-bottom: 8px solid var(--first-heading-decoration);
  width: 65px;
  position: relative;
  bottom: 10px;
}

h2 {
  font-size: 2.369em;
  padding-bottom: 15px;
  padding-top: 35px;
}

h3 {
  font-size: 1.777em;
  padding-bottom: 10px;
  padding-top: 25px;
}

a, a:visited {
  color: var(--link-color);
}

a:focus {
  background-color: var(--page-link-focus-color);
  color: black;
  text-decoration: none;
  outline: 1px solid var(--outline-color);
}

.people-list {
  list-style: none;
}

.people-list > li {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-bottom: 22px;
}

.people-list > li img {
  width: 20px;
  height: 20px;
  top: 3px;
  position: relative;
}

.resume-link {
  display: flex;
  justify-content: space-between;
  width: 95px;
}

.resume-link a {
  text-decoration: none;
  text-transform: uppercase;
}

.post-title {
  font-size: 3.157em;
}

.post-meta {
  padding-bottom: 20px;
  color: var(--post-meta-color);
}

.post-content ul, .post-content ol {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.post-content p {
  padding-bottom: 15px;
}

.home p{
  padding-bottom: 15px;
}

.home ul{
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.home li {
  padding-bottom: 10px;
}

footer {
  height: 100px;
  border-top: 2px solid var(--navbar-border-color);
  width: 90%;
  max-width: 1220px;
  min-width: 340px;
  padding-top: 30px;
  margin: auto;
  text-align: center;
}

.heart{
  height: 32px;
  width: auto;
  position: relative;
  top: 7px;
}

.papers-list {
  list-style: none;
}

.papers-list .meta-items {
  padding-bottom: 15px;
}
.hamburguer-btn{
  display: none;
}

.menu-container {
  width: 70%;
}

/*****************************************
 * Syntax highlighting styles ************
 *****************************************/
 div.highlighter-rouge, figure.highlight {
  position: relative;
  padding: 20px;
  background-color: white;
  width: 70%;
  margin: auto;

  .highlight {
  
    margin: 0;
    line-height: 1.8;
    overflow: auto;

    span {
      font-family: 'JetBrains Mono', monospace;
    }
  }
}

code {
  font-family: 'Jetbrains Mono', monospace;
}

p > code {

    background-color: var(--code-selection-color);
}

pre.highlight {
  border: 2px solid #454545;
  border-radius: 5px;
  padding: 20px;
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }

/*
   Solarized Light
   http://ethanschoonover.com/solarized
   SOLARIZED HEX      ROLE
   --------- -------- ------------------------------------------
   base01    #586e75  body text / default code / primary content
   base1     #5F6D6D  comments / secondary content
   base3     #fdf6e3  background
   orange    #cb4b16  constants
   red       #dc322f  regex, special keywords
   blue      #0a506b  reserved keywords
   cyan      #1f7972  strings, numbers
   green     #434d00  operators, other keywords
   ========================================================================== */

.highlight .c { color: #5F6D6D ; background-color: #f5f5f5;} /* Comment */
.highlight .err { color: #586e75 } /* Error */
.highlight .g { color: #586e75 } /* Generic */
.highlight .k { color: #434d00 } /* Keyword */
.highlight .l { color: #586e75 } /* Literal */
.highlight .n { color: #586e75 } /* Name */
.highlight .o { color: #434d00 } /* Operator */
.highlight .x { color: #cb4b16 } /* Other */
.highlight .p { color: #586e75 } /* Punctuation */
.highlight .cm { color: #5F6D6D ; background-color: #f5f5f5; } /* Comment.Multiline */
.highlight .cp { color: #434d00 } /* Comment.Preproc */
.highlight .c1 { color: #5F6D6D ; background-color: #f5f5f5; } /* Comment.Single */
.highlight .cs { color: #434d00 } /* Comment.Special */
.highlight .gd { color: #1f7972 } /* Generic.Deleted */
.highlight .ge { color: #586e75; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #dc322f } /* Generic.Error */
.highlight .gh { color: #cb4b16 } /* Generic.Heading */
.highlight .gi { color: #434d00 } /* Generic.Inserted */
.highlight .go { color: #586e75 } /* Generic.Output */
.highlight .gp { color: #586e75 } /* Generic.Prompt */
.highlight .gs { color: #586e75; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #cb4b16 } /* Generic.Subheading */
.highlight .gt { color: #586e75 } /* Generic.Traceback */
.highlight .kc { color: #cb4b16 } /* Keyword.Constant */
.highlight .kd { color: #0a506b } /* Keyword.Declaration */
.highlight .kn { color: #434d00 } /* Keyword.Namespace */
.highlight .kp { color: #434d00 } /* Keyword.Pseudo */
.highlight .kr { color: #0a506b } /* Keyword.Reserved */
.highlight .kt { color: #dc322f } /* Keyword.Type */
.highlight .ld { color: #586e75 } /* Literal.Date */
.highlight .m { color: #1f7972 } /* Literal.Number */
.highlight .s { color: #1f7972 } /* Literal.String */
.highlight .na { color: #586e75 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #0a506b } /* Name.Class */
.highlight .no { color: #cb4b16 } /* Name.Constant */
.highlight .nd { color: #0a506b } /* Name.Decorator */
.highlight .ni { color: #cb4b16 } /* Name.Entity */
.highlight .ne { color: #cb4b16 } /* Name.Exception */
.highlight .nf { color: #0a506b } /* Name.Function */
.highlight .nl { color: #586e75 } /* Name.Label */
.highlight .nn { color: #586e75 } /* Name.Namespace */
.highlight .nx { color: #586e75 } /* Name.Other */
.highlight .py { color: #586e75 } /* Name.Property */
.highlight .nt { color: #0a506b } /* Name.Tag */
.highlight .nv { color: #0a506b } /* Name.Variable */
.highlight .ow { color: #434d00 } /* Operator.Word */
.highlight .w { color: #586e75 } /* Text.Whitespace */
.highlight .mf { color: #1f7972 } /* Literal.Number.Float */
.highlight .mh { color: #1f7972 } /* Literal.Number.Hex */
.highlight .mi { color: #1f7972 } /* Literal.Number.Integer */
.highlight .mo { color: #1f7972 } /* Literal.Number.Oct */
.highlight .sb { color: #5F6D6D ; background-color: #f5f5f5;} /* Literal.String.Backtick */
.highlight .sc { color: #1f7972 } /* Literal.String.Char */
.highlight .sd { color: #586e75 } /* Literal.String.Doc */
.highlight .s2 { color: #1f7972 } /* Literal.String.Double */
.highlight .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight .sh { color: #586e75 } /* Literal.String.Heredoc */
.highlight .si { color: #1f7972 } /* Literal.String.Interpol */
.highlight .sx { color: #1f7972 } /* Literal.String.Other */
.highlight .sr { color: #dc322f } /* Literal.String.Regex */
.highlight .s1 { color: #1f7972 } /* Literal.String.Single */
.highlight .ss { color: #1f7972 } /* Literal.String.Symbol */
.highlight .bp { color: #0a506b } /* Name.Builtin.Pseudo */
.highlight .vc { color: #0a506b } /* Name.Variable.Class */
.highlight .vg { color: #0a506b } /* Name.Variable.Global */
.highlight .vi { color: #0a506b } /* Name.Variable.Instance */
.highlight .il { color: #1f7972 } /* Literal.Number.Integer.Long */

/***** RESPONSIVINESS ******/
@media only screen and (max-width: 850px) and (min-width: 675px){
  .site-nav{
    flex-direction: column;
    height: 160px;
    position: unset;
    padding-bottom: 30px;
  }

  div.highlighter-rouge, figure.highlight {
    width: 90%;
  }

  .menu-container{
    width: 100%
  }

  .menu-links {
    width: 100%;
  }

  header {
    padding-top: 48px;
  }

  .page-content {
    padding-top: 20px;
  }

  .people-list > li {
    width: 90%;
  }
}

@media only screen and (max-width: 674px) {
  .site-nav{
    display: block;
    height: 200px;
    position: static; //get rid of fixed
  }

  .site-nav.collapsed {
    height: 430px;
  }

  .logo {
    margin: auto;
    width: 161px;
    padding-bottom: 45px;
  }

  .menu-links {
    min-width: 340px;
    flex-direction: column;
    display: none;
    position: static;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 250px;
  }

  .menu-links a {
    text-decoration: none;
    font-size: 1em;
  }

  .page-link.active, .page-link.active:hover {
    border: none;
  }

  .menu-links.collapsed {
    display: flex;
  }

  .menu-container {
    width: 100%;
    background-color: white;
    border: 2px var(--outline-color) solid;
  }

  .hamburguer-btn {
    display: static;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  footer p {
    font-size: 0.7em;
  }

  footer a {
    font-size: 1em;
  }

  .menu-icon {
    height: 15px;
    width: auto;
    position: relative;
    top: 7px;
  }

  header {
    padding-top: 48px;
  }

  .page-content {
    padding-top: 20px;
  }

  .people-list > li {
    width: 90%;
  }

  .heart {
    height: 24px;
  }

  div.highlighter-rouge, figure.highlight {
    width: 90%;
  }
}
