<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<!-- 

  YOU FOUND YOSHI !! 1-UP FOR YOU

  ░░░░░░░░░░░░░░░░░░░░ 
  ░░░░░░▄▀▀▄▀▀▄░░░░░░░ 
  ░░░░░█▒▄░▄░░▒█▄▄▄░░░ 
  ░░░▄▄█░▀░▀░░░█▄▓▓█░░ 
  ░▄▀▒▒▒▀▄▀▄▄▄▀▒▒▀█▓▄ 
  ▄▀▀▒▀▒▒▒▒▒░░░▒▒▒█▓▓█ 
  █▒▒▒▒▒▒▒▒▄░░░░▒▒██▀ 
  ▀▄▒▒▒▒▒▒▒█▀░░▒▄█▄▀░░ 
  ░░▀▀▄▄▄▄█▄░░▒▒▀▄█▄▄░
-->


  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

  <!-- responsive menu script -->
  <script type="text/javascript" src="/assets/scripts/menu.js">
  </script>

  <!-- Mathjax Support -->
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
</html>
